<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.CartDaoImpl">
	
	<select id="findProById" parameterType="int" resultType="Product">
		select * from product  where id = #{id}
	</select>

	<select id="findCartItemByCartIdAndProid"  resultType="CartItem" >
		select * from cartitem where proid = #{param1} and cartid = #{param2}
	</select>
	
	<select id="findCartItemById"  resultType="CartItem" parameterType="int">
		select * from cartitem where id = #{id}
	</select>
	
	<select id="findCartItemByCartId"  resultType="CartItem" parameterType="int">
		select * from cartitem where cartid = #{cartid}
	</select>
	
	<select id="findCartByUserId"  resultType="Cart" parameterType="int">
		select * from cart where userid = #{userid}
	</select>
	
	<select id="deleteCartItem"  >
		delete from cartitem where proid=#{param1} and cartid=#{param2}
	</select>
	
	<insert id="addCart" parameterType="Cart">
		insert into cart(userid)values(#{userid})
	</insert>
	<update id="updateCartItem" parameterType="CartItem">
		update cartitem set count = #{count},total = #{total} where id = #{id}
	</update>
	<update id="updatePro" parameterType="Product">
		update product set count = #{count} where id = #{id}
	</update>
	<insert id="firstCartItem" parameterType="CartItem" >
		insert into cartitem(proid,name,count,total,cartid)values(#{proid},#{name},#{count},#{total},#{cart.id})
	</insert>
</mapper>